.container {
  
}
@media (min-width: $phone-landscape) {
  .container {

  }
}
@media (min-width: $tablet-portrait) {
  .container {

  }
}
@media (min-width: $tablet-landscape) {
  .container {
    display: flex;
    justify-content: space-between;

    &__content {
      width: calc(100% - 293px - 30px);
    }

    &__aside {
      width: 293px;

      .site__sub-title {
        padding-left: 10px;
      }
    }
  }
}
@media (min-width: $desktop) {
  .container {

  }
}

