@font-face {
  font-family: 'frutigerltstd-roman';
  src: url('../fonts/frutigerltstd-roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'frutigerltstd-bold';
  src: url('../fonts/frutigerltstd-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri-Bold';
  src: url('../fonts/Calibri-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
