.site {
  overflow: hidden;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #fff;
  @include Calibri();

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 60px;
    width: 100%;
    z-index: 3;
    padding: 10px 0;
  }

  &__content {

  }

  &__title {
    display: block;
    margin-bottom: 22px;
    font-size: 24px;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    line-height: 1.2;
    @include frutigerltstd-bold();
  }

  &__sub-title {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: rgb(34, 34, 34);
    text-transform: uppercase;
    line-height: 1;
    @include frutigerltstd-bold();
  }
}
@media (min-width: $phone-landscape) {
  .site {

  }
}
@media (min-width: $tablet-portrait) {
  .site {

  }
}
@media (min-width: $tablet-landscape) {
  .site {

  }
}
@media (min-width: $desktop) {
  .site {
    padding: 10px 50px;

    &__header {
      align-items: flex-end;
      height: 90px;
      padding: 20px 0;
    }
  }
}
